@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Englebert&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
    font-family: "Chilanka", cursive;
    font-weight: 400;
    font-style: normal;
}

h1, h2 {
    font-family: "Englebert", cursive;
    font-weight: 600;
    font-style: normal;
    font-size:1.5em;
}

.image-container {
    height: 650px; /* Hauteur fixe du conteneur */
    overflow: hidden; /* Masquer l'excès d'image */
    position: relative;
  }
  

.object-fit-cover {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Recadrer l'image pour remplir le conteneur */
    object-position: bottom;
}

.fit-container {
    height: 90px; /* Hauteur du conteneur */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Largeur totale du conteneur */
    background-color: rgba(166, 147, 142, 0.2); /* Couleur de fond pour mieux voir l'effet */
}
.fit-text {
    font-size: 2rem; /* Ajustez la taille de la police selon vos besoins */
    text-align: center;
    letter-spacing: 1em;
}
.menu {
    height: 85px; /* Hauteur du conteneur */
}
.about {
    height: 140px; /* Hauteur du conteneur */
    width: 100%; /* Largeur totale du conteneur */
    background-color: rgba(245, 247, 177, 0.276); /* Couleur de fond pour mieux voir l'effet */ 
}
.bg-black {
    background-color: black;
}
.image-overlay-container {
    position: relative;
    width: 100%;
}
.yellow-rec {
    background-color: rgba(249, 226, 17, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Permet de cliquer à travers le rectangle */
    z-index: 1;
}
.yellow-rec-vertical {
    position:absolute;
    width: 40%; /* Ajustez la largeur selon vos besoins */
    height: 75%; /* Ajustez la hauteur selon vos besoins */
    background-color: rgba(255, 255, 0); /* Jaune avec 50% de transparence */
    z-index: 2;
    top: 55%; /* Positionnement vertical */
    left: 65%; /* Positionnement horizontal */
    transform: translate(-25%, -55%); /* Centre le rectangle */
    border-radius: 0%;
    box-shadow: 
    0 0 5px #fff,    /* Couleur du halo lumineux */
    0 0 10px #eaff00, /* Couleur du halo lumineux */
    0 0 15px #eaff00, /* Couleur du halo lumineux */
    0 0 20px #eaff00, /* Couleur du halo lumineux */
    0 0 30px #eaff00, /* Couleur du halo lumineux */
    0 0 40px #eaff00; /* Couleur du halo lumineux */
}
@media (min-width: 320px) and (max-width: 425px){
    .fit-text {
        letter-spacing: 0.05em; /* Réduit l'espacement des lettres pour petits écrans */
    }
}

@media (max-width: 768px) {
    .fit-text {
        letter-spacing: 1em; /* Réduit l'espacement des lettres pour petits écrans */
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .fit-text {
        letter-spacing: 1em; /* Espacement moyen pour écrans moyens */
    }
}

@media (min-width: 993px) {
    .fit-text {
        letter-spacing: 1em; /* Espacement plus large pour grands écrans */
    }
}

