@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Englebert&display=swap');
@font-face {
    font-family: 'BabyDoll'; /* Nom de la police que vous utiliserez dans votre CSS */
    src: url('assets/fonts/baby_doll-webfont.woff') format('woff');
    font-weight: normal; /* Ajustez selon les variations de votre police (normal, bold, etc.) */
    font-style: normal; /* Ajustez selon les variations de votre police (normal, italic, etc.) */
}
@font-face {
    font-family: 'Plein'; /* Nom de la police que vous utiliserez dans votre CSS */
    src: url('assets/fonts/WEB/css/plein.css') format('woff');
    font-weight: normal; /* Ajustez selon les variations de votre police (normal, bold, etc.) */
    font-style: normal; /* Ajustez selon les variations de votre police (normal, italic, etc.) */
}
@font-face {
    font-family: 'Cute'; /* Nom de la police que vous utiliserez dans votre CSS */
    src: url('assets/fonts/cutefont-regular-webfont.woff') format('woff');
    font-weight: normal; /* Ajustez selon les variations de votre police (normal, bold, etc.) */
    font-style: normal; /* Ajustez selon les variations de votre police (normal, italic, etc.) */
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
    font-family: 'Plein', sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* TOUT CE QUI EST RELATIFS A LA BANNIERE + NAVBAR + MEDIA QUERIE RELATIF */
.compagnie {
    font-family: 'Cute', sans-serif;
    font-size: 5em;
    font-weight: 600;
}
.h2 {
    font-family: 'Cute', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 5px;
}
.overlay-content {
    z-index: 1;
    color: black; /* Changer la couleur du texte si nécessaire */
}
.navbar .nav-link {
    color: black; /* Couleur des liens de navigation */
    font-weight: bold;
    font-family: 'Cute', sans-serif;
    font-size: 1.5em;
}
.navbar-collapse.show {
    background-color: rgba(255, 255, 255, 0.7); /* Fond semi-transparent noir */
    width: 50%;
}
/* Styles pour les écrans mobiles */
@media (max-width: 768px) {
    .image-container {
        height: 360px; /* Ajustez la hauteur selon les besoins */
    }
}
/* FIN DE TOUT CE QUI EST RELATIFS A LA BANNIERE + NAVBAR + MEDIA QUERIE RELATIF */


/* DEBUT RECTANGLES D'INTRO DE CHAQUE SECTION, FORME + TEXTE */
.rec-section {
    height: 140px; /* Hauteur du conteneur */
    width: 100%; /* Largeur totale du conteneur */
}
.titre-section {
    font-family: 'Cute', sans-serif;
    font-size: 3em;
    font-weight: 600;
    letter-spacing: 5px;
}
/* FIN RECTANGLES D'INTRO DE CHAQUE SECTION, FORME + TEXTE */

/* DEBUT SECTION ACCUEIL*/

@media (max-width: 768px) {
    .content-accueil {
      width: 90%;
      right: 5%;
      padding-bottom: 80em;
    }
    .image-accueil {
      order: 1; /* Image en premier sur mobile */
    }
    .texte-accueil {
      order: 2; /* Texte en deuxième sur mobile */
    }
  }