@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Englebert&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face {
    font-family: 'BabyDoll'; /* Nom de la police que vous utiliserez dans votre CSS */
    src: url('assets/fonts/baby_doll-webfont.woff') format('woff');
    font-weight: normal; /* Ajustez selon les variations de votre police (normal, bold, etc.) */
    font-style: normal; /* Ajustez selon les variations de votre police (normal, italic, etc.) */
}
@font-face {
    font-family: 'Plein'; /* Nom de la police que vous utiliserez dans votre CSS */
    src: url('assets/fonts/WEB/css/plein.css') format('woff');
    font-weight: normal; /* Ajustez selon les variations de votre police (normal, bold, etc.) */
    font-style: normal; /* Ajustez selon les variations de votre police (normal, italic, etc.) */
}
@font-face {
    font-family: 'Cute'; /* Nom de la police que vous utiliserez dans votre CSS */
    src: url('assets/fonts/cutefont-regular-webfont.woff') format('woff');
    font-weight: normal; /* Ajustez selon les variations de votre police (normal, bold, etc.) */
    font-style: normal; /* Ajustez selon les variations de votre police (normal, italic, etc.) */
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
    font-family: 'Plein', sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* TOUT CE QUI EST RELATIFS A LA BANNIERE + NAVBAR + MEDIA QUERIE RELATIF */
.compagnie {
    font-family: 'Cute', sans-serif;
    font-size: 5em;
    font-weight: 600;
}
.h2 {
    font-family: 'Cute', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 5px;
}
.overlay-content {
    z-index: 1;
    color: black; /* Changer la couleur du texte si nécessaire */
}
.navbar .nav-link {
    color: black; /* Couleur des liens de navigation */
    font-weight: bold;
    font-family: 'Cute', sans-serif;
    font-size: 1.5em;
}
.navbar-collapse.show {
    background-color: rgba(255, 255, 255, 0.7); /* Fond semi-transparent noir */
    width: 50%;
}
/* Styles pour les écrans mobiles */
@media (max-width: 768px) {
    .image-container {
        height: 360px; /* Ajustez la hauteur selon les besoins */
    }
}
/* FIN DE TOUT CE QUI EST RELATIFS A LA BANNIERE + NAVBAR + MEDIA QUERIE RELATIF */


/* DEBUT RECTANGLES D'INTRO DE CHAQUE SECTION, FORME + TEXTE */
.rec-section {
    height: 140px; /* Hauteur du conteneur */
    width: 100%; /* Largeur totale du conteneur */
}
.titre-section {
    font-family: 'Cute', sans-serif;
    font-size: 3em;
    font-weight: 600;
    letter-spacing: 5px;
}
/* FIN RECTANGLES D'INTRO DE CHAQUE SECTION, FORME + TEXTE */

/* DEBUT SECTION ACCUEIL*/

.content-accueil {
    width: 65%;
    right: 15%;
    margin-top: 10%;
    position: absolute;
    background-color: #343a40; /* bg-dark */
    overflow: hidden; /* Assure que le contenu ne déborde pas */
}

.content-accueil .col-12 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    display: flex;
}

.content-accueil .image-accueil {
    flex: 0 0 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start; /* Centrer l'image */
    padding: 0;
    margin: 0;
    overflow: hidden; /* Assure que l'image ne déborde pas */
}

.content-accueil .image-accueil img {
    max-width: 100%; /* Assure que l'image ne dépasse pas la largeur de son conteneur */
    max-height: 100%; /* Assure que l'image ne dépasse pas la hauteur de son conteneur */
    object-fit: cover; /* Maintient les proportions tout en remplissant l'espace */
    margin: 0;
}

.content-accueil .texte-accueil {
    flex: 1;
    padding: 0;
    margin: 0;
}
p {
    font-family: "Chilanka", cursive;
    font-size: 400;
    font-style: normal;
}
.texte-accueil p {
    float: right;
    margin-left: 10px;
}
/* Media Query pour les petits écrans (smartphones) */
@media (max-width: 767px) {
    .content-accueil {
        width: 90%;
        padding-bottom: 100%; /* Augmente la hauteur de la div pour s'adapter à l'image */
        right: 5%;
        margin-top: 5%;
    }

    .content-accueil .image-accueil {
        flex: 0 0 100%;
        height: 100%; /* La hauteur de la div image-accueil est ajustée à 100% */
        justify-content: center; /* Centre l'image dans le conteneur */
    }

    .content-accueil .texte-accueil {
        flex: 1;
        height: auto; /* Permet au texte de s'ajuster selon le contenu */
        background-color: #ffffff; /* Juste un exemple pour visualiser l'espace */
    }
}

/* DEBUT COMPAGNIE */
@media (max-width: 767px) {
    .compagnie{ 
    
}
}
/* FIN COMPAGNIE */


/* DEBUT CONTACT */
.underline {
    text-decoration: underline;
}
/* FIN CONTACT */ 


/* DEBUT ACTUALITES */
.bg-yellow {
    position: absolute;
    z-index: 1;
    width: 350px;
    height: 150px;
    top: 10px;
    right: 0px;
    background-color: #FEEA37;

}
.img-actualites {
    z-index: 2;
    bottom: 30px;
    left: 10px;                                                                                                    
    margin: 0px 0px 10px 10px;
    transform: translate(15%, 95%);
}

/* Pour les petits écrans */
  @media (max-width: 768px) {
    .bg-yellow {
        width: 100% !important;
        height: auto !important;
        min-height: 125vh;
    }
    
}
@media (max-width: 575.98px) {
    .flex-column-sm {
        flex-direction: column !important;
    }
    .img-actualites {
        position: absolute;
        bottom: 10;
        left: 0;
        width: 100% !important;
        transform: translate(0, 0);
    }

    .img-actualites img {
        width: 100% !important;
        height: auto;
    }
}
/* FIN ACTUALITES */